PORT=5001

MONGO_URL=your_mongo_url
JWT_SECRET_KEY=your_jwt_secret_key
CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_SECRET=your_cloudinary_secret

FRONT_URL='http://localhost:5173'

NODE_ENV=development